:root {
  --color-one: #1F2453;
  --color-two: #71759D;
  --color-three: #9E9E9E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header .logo {
  width: 30%;
}

.logo h1 {
  width: 100%;
  color: #778899;
  text-transform: capitalize;
  font-size: 3rem;
  padding: 0.5rem 0;
  margin-left: 5vw;
  overflow: hidden;
  animation: typing 8s;
}
@keyframes typing {
  from {
    width: 0;
  }
}

header nav {
  height: 5rem;
  width: 50%;
  margin-right: 5%;
  margin-left: 30%;
  margin-top: -80px;
}

.list ul {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  list-style-type: none;
}

header .list ul li a {
  color: lightseagreen;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2vw;
  font-weight: 400;
}

.list ul li:hover {
  border-bottom: 1px solid var(--color-two);
  cursor: pointer;
}

.icon {
  width: 20%;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.1rem 0;
  display: flex;
  justify-content: space-evenly;
  color: darkslategray;

}

.box1 {
  font-size: 2.5rem;
  margin-top: 100px;
  margin-left: 80px;
  color: #778899;
}

.box1 h2 {
  color: #489AC7
}

#box2 {
  margin-left: 90px;
  color: #778899;
}

.box3 {
  display: flex;
  justify-content: space-evenly;
  width: 48%;
  margin-top: 1rem;
  position: relative;
}

.box3 .box3a span:first-child {
  font-size: 3rem;
  font-weight: 600;
  color: #778899;
}

.box3 .box3a span:nth-child(2) {
  font-size: 0.8rem;
  position: absolute;
  top: 35%;
  margin-left: 0.5rem;
}

.video nav {
  width: 15rem;
  height: 2rem;
}

.sec1-imgbor {
  border: 0.6rem solid #fff;
  box-shadow: 7px 19px 31px -13px #000;
  position: absolute;
  width: 18rem;
  height: 24rem;
  border-radius: 10rem;
  top: 9rem;
  left: 62%;
  overflow: hidden;
}

.sec1-right img {
  width: 18rem;
  height: 24rem;
  border-radius: 10rem;
  position: absolute;
  right: 0;
  animation: slide-tb 2.2s ease-in-out forwards;
  margin-top: 0;
}

@keyframes slide-tb {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

.video {
  position: absolute;
  right: 30%;
  background-color: var(--color-one);
  border-radius: 50%;
  padding: 1.2rem;
  border: 5px solid var(--color-two);
  top: 28rem;
}
.video i {
  font-size: 2rem;
}

.sec1-mainbox {
  border: 1px solid #000;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  flex-direction: row;
  size: 40%;


}

.sec1-mainbox .box1 {
  background-color: var(--color-one);
  transition: 1s;
  text-align: center;
  padding: 2rem 0;
}

.sec1-mainbox .box1:hover {
  transform: scale(1.2);
  border-radius: 24px;
  background-color: #489AC7;
  z-index: 2;
}

.sec1-mainbox .box1 span:nth-child(1) {
  display: block;
  font-size: 1.2rem;
  padding-block: 0.7rem 0.5rem;
}

.sec1-mainbox .box1 span:nth-child(2) {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.sec1-mainbox .box1 p {
  display: block;
  font-size: 0.7rem;
  padding-block: 0.7rem 0.5rem;
}

.sec1-mainbox .box1:nth-child(1) {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.sec1-mainbox .box1:nth-child(4) {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

hr {
  height: 0.5rem;
}

.image-3 img {
  width: 250px;
  height: 200px;
  margin-top: 50px;
  margin-left: 70px;
}

.image-4 img {
  width: 250px;
  height: 250px;
  margin-top: -8px;
  margin-left: 70px;

}

.box {
  background-color: hsla(214, 36%, 53%, 1);
  padding: 20px;
  border: 2px solid #ddd;
  width: 290px;
  margin-left: 320px;
  margin-top: -500px;
  border-radius: 5% 5% 5% 5%;
  height: 530px;
  position: relative;

}

.box p {
  font-size: 16px;

  color: whitesmoke;
  line-height: 1.5;
}

.box h1 {
  font-size: 2.9rem;
  color: #FFFFFF
}

.box li {
  font-size: 80px;
  color: #666;
  line-height: 1.5;
  list-style: none;

}

.box li#touch {

  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 10px;
  width: 50%;
  border-radius: 10% 10% 10% 10%;
  cursor: pointer;
}

.box li#touch:hover {

  background-color: #3e8e41;
}

.box {
  background-color: hsla(214, 36%, 53%, 1);
  padding: 20px;
  border: 2px solid #ddd;
  width: 290px;
  margin-left: 320px;
  margin-top: -500px;
  border-radius: 5% 5% 5% 5%;
  height: 530px;
}

.box p {

  font-size: 16px;
  color: whitesmoke;
  line-height: 1.5;
}

.box h1 {
  font-size: 2.9rem;
  color: #FFFFFF
}

.box li {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  list-style: none;
}

.box-3 {
  background-color: white;
  ;
  padding: 20px;
  border: 2px solid #ddd;
  box-shadow: 7px 19px 31px -13px #0000008F;
  width: 330px;
  margin-left: 610px;
  margin-top: -500px;
  border-radius: 5% 5% 5% 5%;
  height: 480px;
}

.box-3 h1 {
  font-size: 2.5rem;
  color: #6C9BC3
}

.box-3 p {
  font-size: 16px;
  color: #95A2BD;
  line-height: 1.5;
}

.box-3 i .box-3 h4 {
  font-size: 1.5rem;
  color: #6C9BC3;
}

.box-3 li#icon-1 {
  width: 2rem;
}

.box-3 h5 {
  font-size: 1.5rem;
  color: #6C9BC3;

}

.box-3 h6 {
  font-size: 1.5rem;
  color: #6C9BC3;

}

.about {
  margin-top: 80px;
  margin-left: 90px;
}

.about h1 {
  color: #053971;

}

.about p {
  color: dimgrey;
}

.circle {
  display: flex;
  margin-left: 350px;
  margin-top: -70px;


}

.circle-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
}

.circle-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
}

.circle-3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
}

.circle-4 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
}

.circle-5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
}

.circle-6 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  margin-left: -54px;
  margin-top: -5px;
}

.circle-7 {
  width: 120px;
  height: 5px;
  border-radius: 50%;
  background-color: grey;
  margin-top: 50px;
  margin-left: -100px;
}


.circle-a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  margin-top: -55px;
  margin-left: 580px
}

.circle-a h3 {
  color: dimgray;
  margin-left: 50px;
  font-size: 2rem;
}

.hr {
  height: 20px;
  margin-top: 60px;

}

.work-3 h2 {
  color: #6C9BC3;
  margin-top: 30px;
  font-size: 3rem;
  margin-left: 50px;

}

.work-3 p {
  margin-left: 500px;
  margin-top: -120px;
  color: #778899;

}

.arrow {
  font-size: 1.5rem;
  margin-left: 500px;
  margin-top: 15px;
  color: #489AC7;
}

.containerab {
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 200px;
  background-color: #97CC98;
  width: 300px;
  height: 400px;
  margin-left: 70px;
  margin-top: 20px;
  filter: drop-shadow(2px 2px 20px #74CDD4);
}

.box7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}


.camera {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 60px;

}

.camera7 {
  font-size: 2rem;
  margin-top: 110px;
  margin-left: -955px;
  color: #fff;
  list-style-type: none;
}

.lernmore {
  padding: 10px 10px;
  background-color: #003333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  margin-left: -960px;
  margin-top: 1px;
}

#touch:hover {
  color: blueviolet;
  cursor: pointer;
  font-size: 20px;
}

img {
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-left: -530px;
  color: #fff;
}

.para7p {
  margin-bottom: 20px;
  margin-left: -960px;
  color: #fff;
  margin-top: 15px;
}

.containerabhi {
  margin-left: 400px;
  margin-top: -300px;
  position: relative;
}

.box7ab i {
  font-size: 50px;
  margin-left: 90px;
  position: absolute;
  top: -40%;
  left: 0%;
}

.box7a h2 {
  margin-left: 50px;
  color: #003333;
  margin-top: -20px;
}

#touch-2 {
  margin-left: 55px;
  margin-top: 60px;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
  padding: 10px 20px;
}

.box7a p {}

.containerabhib {
  margin-left: 700px;
  margin-top: -210px;
  position: relative;
}

.box7b h2 {
  margin-left: 30px;
  color: #003333;
  margin-top: -20px;
}

.box7bad i {
  font-size: 40px;
  margin-left: 80px;
  position: absolute;
  top: -35%;
  left: -2%;
}

#touch-3 {
  margin-left: 50px;
  margin-top: 60px;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
  padding: 10px 20px;

}

.hr-3 {
  margin-top: 20%;
}

.sec4-part2 {
  background-image: linear-gradient(rgba(113, 117, 157, 0.7), rgba(113, 117, 157, 0.7)), url("/1725572979447.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6vw 10vw 4vw 10vw;
  display: flex;
}

.sec4-left {
  width: 40%;
}

.sec4-left span {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;

}

.sec4-left p {
  font-size: 0.8rem;
  margin-block: 1rem 2rem;
  padding-right: 10%;
  color: #fff;

}


.sec4-left span:last-child {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  background: var(--color-one);
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;


}

.sec4-middle {
  width: 20%;
}

.sec4-middle img {
  border-radius: 5rem;
  opacity: 70%;
  width: 555px;
  height: 580px;
  margin-left: -220px;
  margin-top: -100px;
}

.sec4-right {
  width: 40%;
  padding-left: 6%;
}

.sec4-right span {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;

}

.sec4-right input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0.08rem solid #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  font-weight: 500;
  margin: 1rem 0;
}

.sec4-right input:hover {
  border-color: var(--color-one);
}

.sec4-right input::placeholder {
  color: #fff;
}

.sec4-right textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  border: 0.08rem solid #fff;
  color: #fff;
  outline: none;
  font-weight: 500;
  margin: 1rem 0;
}

.sec4-right textarea::placeholder {
  color: #fff;
  font-weight: 500;
}

.sec4-right textarea:hover {
  border-color: var(--color-one);
}

.sec4-right button {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  background: var(--color-one);
  padding: 0.7rem 1.3rem;
  border-radius: 0.3rem;
  outline: none;
  color: #fff;
  border: none;
}

.sec4-right button:hover {
  background-color: #fff;
  color: var(--color-two);
}

.sec-5 {
  text-align: center;
  color: #778899;
  margin-top: 60px;
}

.sec-5 h2 {
  font-size: 2.5rem;
  color: #6C9BC3;

}

.sec5-part1 {
  padding: 0 10vw;
}


.sec5-part1 .part1-lower {
  padding: 5rem 0;
}

.part1-lower .lower-grid {
  display: flex;
}

.lower-grid .lower-box1 {
  background-color: #F4F4F4;
  box-shadow: 7px 19px 31px -13px #858585;
  border-radius: 2rem;
  border: 0.5rem solid transparent;
  padding: 0 2rem;
}

.lower-grid .lower-box1:hover {
  background-color: var(--color-two);
  border: 0.5rem solid #fff;
}

.lower-grid .lower-box1:hover span:nth-child(1) i {
  background-color: var(--color-one);
}

.lower-grid .lower-box1:hover span:nth-child(2) {
  color: #fff;
}

.lower-grid .lower-box1:hover p {
  color: #fff;
}

.lower-grid .arrow {
  color: var(--color-one);
  font-size: 1rem;
  margin: auto 1rem;
}

.lower-grid .lower-box1 span:nth-child(1) {
  font-size: 1.8rem;
  text-align: center;
  display: block;
  margin-top: -4vw;
}

.lower-grid .lower-box1 span:nth-child(1) i {
  background-color: var(--color-two);
  border-radius: 50%;
  padding: 1rem;
}

.lower-grid .lower-box1 span:nth-child(2) {
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  text-align: center;
  color: var(--color-one);
  margin: 1rem 0;
}

.lower-grid .lower-box1 p {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-three);
  margin-bottom: 1.5rem;
}

.sec5-part2 {
  padding: 0 10vw;
  padding-bottom: 6vw;
  width: 100%;
  background-color: rgba(193, 193, 193, 0.1);
}


.part2-lower {
  display: flex;
  width: 100%;
  height: 17rem;
}

.lower-left {
  width: 50%;
}

.lower-left img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.lower-right {
  width: 50%;
  background-color: var(--color-one);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 2.5rem;
}

.lower-right>span {
  color: #E5DB53;
  font-size: 0.8rem;
}

.lower-right p {
  font-size: 0.8rem;
  margin-block: 2rem 1.5rem;
}

.lower-right .lower-right2 {
  display: flex;
  position: relative;
}

.lower-right2 img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.right2-names {
  margin: auto 0;
}

.right2-names span {
  display: block;
  font-size: 0.8rem;
}

.right2-names span:nth-child(1) {
  font-weight: 500;
  font-size: 1rem;
}

.sec5-quote {
  font-size: 3rem;
  position: absolute;
  right: 0;
  top: 1rem;
  color: var(--color-two);
}

.sec5-quote:hover {
  color: mediumpurple;
}

.section-6 {}

.sec-6upper nav {
  margin-top: 30px;
  margin-left: 80px;
  font-size: 2rem;
  color: #6C9BC3;

}

.sec-6upper p {
  margin-top: -70px;
  margin-left: 400px;
  color: #778899;

}

.arrow-2 {
  font-size: 1.5rem;
  margin-left: 400px;
  margin-top: 15px;
  color: #489AC7;
}

.part3-lower {
  display: flex;
  width: 100%;
  height: 17rem;
  margin-top: 5%;

}

.lower-left {
  width: 50%;
}

.lower-left img {
  width: 100%;
  height: 500px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-top: 1px;
  margin-left: 1px;
}

.lower-right {
  width: 50%;
  height: 500px;
  background-color: #489AC7;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 2.5rem;

}

.lower-right>span {
  color: #E5DB53;
  font-size: 0.8rem;
}

.lower-right p {
  font-size: 0.8rem;
  margin-block: 2rem 1.5rem;
}

.lower-right .lower-right2 {
  display: flex;
  position: relative;
}

.lower-right2 img {
  width: 10rem;
  height: 8rem;
  border-radius: 24%;
  margin-right: 0.7rem;
  margin-top: 1px;
  margin-left: 1px;
}

.right2-names {
  margin: auto 0;
  margin-left: 130px;
  margin-top: 20px;
}

.right2-names span {
  display: block;
  font-size: 0.8rem;

}

.right2-names span:nth-child(1) {
  font-weight: 500;
  font-size: 1rem;
}

.sec4-quote {
  font-size: 3rem;
  position: absolute;
  right: 5rem;
  top: 1rem;
  color: var(--color-two);
  margin-top: 40px;


}

.sec4-quote:hover {
  color: #fff;
}

.hr7 {
  width: 1rem;

}

.section-7 {
  margin-top: 200px;

}

.sec7-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-left: 10px;
}

.sec-7 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  margin-top: -500px;
}

.sec-7 p {
  font-size: 1rem;


}

.sec7-botton {
  text-align: center;
  margin-top: 5%;
  color: #489AC7;
  font-size: 2rem;
}

.section-8 {
  margin-top: 250px;
}

.sec-8 {
  text-align: center;
}

.sec-8 h1 {
  font-size: 2.5rem;
  color: #003333;

}

.sec-8 p {
  color: #778899;
}


hr-9 {
  margin-top: -300px;
  width: 10%;
}

/* Section-9*/
.section-9 {
    background-image: linear-gradient(rgba(113, 117, 157, 0.8), rgba(113, 117, 157, 0.8)),
  url("/premium_photo-1673002094195-f18084be89ce.jpeg");
display: repeat no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  margin-top: 400px;
  padding: 20px 20px;


}

.sec9-upper {
  padding: 20px;
  display: flex;
}

.sec9-first {
  margin-left: 60px;
}

.sec9-first h1 {
  font-size: 2rem;
  color: #fff;

}

.sec9-first p {
  margin-top: 30px;
    color: #fff;

}

.sec9-firstright {
  margin-top: -60px;
}

.sec9-second {
  position: absolute;
  left: 500px;
  top: 80px;
  color: #fff;

}
.input-group {
  position: relative;
}
input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  outline: none;
  border: 0.1rem solid var(--color-three);
  background: transparent;
  border-radius: 0.5rem;
  color: #fff;
}

.submit-9 {
  position: absolute;
  left: 780px;
  top: 75px;
  padding: 10px 10px;
  background-color: #6C9BC3;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 130px;
  height: 40px;
}
.sec9 lower{
  position: absolute;
 top: 800px;
}
.lower-1{
  position: absolute;
  top: 200px;
  left: 80px;
  color: #fff;
}
.lower-navigation h1{
  margin-left: -20px;
}
.lower-navigation{
  padding:10%;
  margin-left: 380px;
  margin-top: -70px;
  display: block;
  list-style-type: none;
  color: #fff;
}

.lower-quick h1 {
  margin-left: -20px;
}

.lower-quick {
  padding: 190px;
  margin-left: 460px;
  margin-top: -435px;
  display: block;
  list-style-type: none;
  color: #fff;
}
.work{

  margin-left: 800px;
  margin-top: -350px;
  color: #fff;
}
.work h3{
	  font-size: 16px;
	  margin-top: 15px;
}
.work p{
  margin-top: 15px;
  display: flex;
}
.work span{
  position: absolute;
    color: #4DC75C;

  top: 350px;
  left: 82%;
    padding: 10px 10px;
    background-color: #6C9BC3;

    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    height: 40px;
}
.hr-11{
 margin-top: 80px;
 margin-left: -720px;
  width: 800px;
  height: 1px;
}
.end h4{
   padding: 60px;
  color: #fff;
 text-align: center;
 margin-top: -30px;
  
}

